* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    overscroll-behavior-y: none;
    margin: 0;
    background: #202236;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255 248 13 / 17%);
    border-radius: 20px;
    border: transparent;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

/*   TABS   */
.tabs {
    position: relative;
    width: 100%;
    height: 100%;
}
.head-tab {
    float: left;
}
.head-tab > label {
    /*background: #0f0f28;*/
    color: rgba(255, 255, 255, 0.41);
    margin-top: 2px;
    padding: 10px;
    /*border: 1px solid #070404;*/
    cursor: pointer;
    margin-left: -1px;
    vertical-align: sub;
}
.head-tab:first-child > label {
    margin-left: 0;
}
.head-tab input[type=radio] {
    display: none;
}
.head-tab-content {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: #000000;*/
    color: white;
    /*padding: 20px;*/
    /*border: 1px solid #1e1111;*/
    display: none;
}
.head-tab > input[type=radio]:checked ~ label {
    padding-top: 2px;
    background: #2c2c46;
    color: #ffcd35;
    border-bottom: 1px solid black;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}
.head-tab > input[type=radio]:checked ~ label ~ .head-tab-content {
    display: block;
}


/*ACE editor*/
.editor-tab {
    display: flex;
    flex: 1;
    /*gap: 12px;*/
    height: 100%;
}

#editor {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 5px;
    left: 0;
    border-radius: 5px;
    border: 1px solid cyan;
}

.kaboom-wrapper,
.editor-wrapper{
    flex:1;
    border-radius: 5px;
}

.kaboom-wrapper {
    /*background: #1d5d5c;*/
    bottom: 5px;
}

#editor,
.kaboom-wrapper {
    margin: 0 10px;
}

#kaboomIframe{
    width: calc(50vw - 3px);
    height: 90vh;
    left: calc(50vw + 3px);
    top: 15px;
    border-radius: 5px;
}

#aceSplitScreenToggle {
    position:absolute;
    z-index: 666;
    top: 20%;
    font-size: 29px;
}
@media only screen and (max-width: 600px) {
    .editor-tab {
        flex-direction: column;
    }
    #editor {
        right: 0;
        bottom: 52%;
    }
    #kaboomIframe{
        width: calc(100vw - 20px);
        height: calc(50vh - 2px);
    }
    #aceSplitScreenToggle {
        display: none;
    }
}

/*@media screen and (orientation:portrait) { … }*/
@media only screen and (orientation:landscape) and (pointer:coarse) {
    #editor {
        display: none;
    }
    #kaboomIframe{
        left: 0;
        height: calc(100vh - 40px);
        width: calc(100vw - 20px);
    }
}
@media (pointer:none), (pointer:coarse) {
    #aceSplitScreenToggle {
        display: none;
    }
}

.progressBar {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 200px;
    height: 16px;
    background-color: #067a6d6e;
    color: #ffffff8f;
}
.progressBar > div {
    width: 50%;
    height: 100%;
    background-color: #04AA6D;
    border-radius: 3px;
    margin: 0 4px;
}